/* sass --watch sass:css */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
body {
  height: 100%;
  width: 100%; }

h1, h2, h3, h4 {
  font-family: "Roboto Slab", serif; }

p {
  font-family: "Open Sans", sans-serif; }

.navbar-lb {
  background: #FF6243;
  height: 8em;
  border-color: #FF6243;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  margin-bottom: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  z-index: 100; }
  .navbar-lb .navbar-toggle {
    border-color: #bfbfbf;
    background: white;
    margin-top: 30px; }
    .navbar-lb .navbar-toggle .icon-bar {
      background-color: #637076; }
  .navbar-lb .navbar-collapse {
    border-color: #FF6243 !important;
    border-top: 1px solid #FF6243 !important;
    background: #FF6243 !important;
    box-shadow: none;
    margin-top: 1.5em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; }
  .navbar-lb .logo {
    width: 12.250em;
    position: relative;
    z-index: 99; }
  .navbar-lb li {
    padding-top: 0.75em; }
    @media (max-width: 767px) {
      .navbar-lb li {
        border-bottom: 1px solid white;
        padding: 1.5em 0; } }
  .navbar-lb li a {
    color: #f2f2f2 !important;
    font-family: "Roboto Slab", serif;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: color 0.5s ease-out; }
    @media (max-width: 767px) {
      .navbar-lb li a {
        text-align: center; } }
  .navbar-lb li a:hover {
    background-color: transparent !important;
    color: #37474E !important; }
  .navbar-lb li a:active {
    color: #b7c6cd !important; }
  .navbar-lb li a:focus {
    background-color: transparent !important; }
  .navbar-lb a img:hover {
    border-bottom: none; }

.image-background {
  position: absolute;
  right: 0;
  z-index: 10; }
  .image-background img {
    position: relative;
    top: 80px; }
    @media only screen and (max-width: 1200px) {
      .image-background img {
        width: 600px;
        top: 50px; } }
    @media only screen and (max-width: 1024px) {
      .image-background img {
        width: 550px;
        top: 80px; } }
    @media only screen and (max-width: 991px) {
      .image-background img {
        width: 430px;
        top: 30px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      .image-background img {
        width: 400px;
        top: 40px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      .image-background img {
        width: 500px;
        top: 120px; } }

.main-color-background {
  background-color: #FF6243; }
  .main-color-background p {
    color: #f2f2f2;
    font-size: 1.5em;
    font-weight: 300;
    margin: 1.5em 0 2em 0; }

.main-color-block {
  margin: 6em 0; }
  @media screen and (max-width: 767px) {
    .main-color-block {
      margin: 3em 0 4em 0; } }
  .main-color-block h1, .main-color-block h2 {
    color: #f2f2f2; }
  .main-color-block p {
    margin: 1.5em 0 0 0; }
  .main-color-block p:nth-child(3) {
    margin: 0.5em 0 0 0; }
  .main-color-block a {
    margin-top: 2em; }
  .main-color-block .btn-lb {
    color: #FF6243;
    background-color: #f2f2f2;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    padding: 10px 26px;
    white-space: normal; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      .main-color-block .btn-lb {
        border-radius: 44px;
        -webkit-border-radius: 44px;
        -moz-border-radius: 44px; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      .main-color-block .btn-lb {
        border-radius: 60px;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px; } }
  .main-color-block .btn-lb:hover {
    background-color: #eaeaea; }
  .main-color-block .btn-lb:active {
    background-color: #ffe2dc;
    color: #a91c00; }
  .main-color-block .main-image {
    width: 100%; }

.white-block {
  margin: 6em 0; }
  @media screen and (max-width: 767px) {
    .white-block {
      margin: 3em 0; } }
  .white-block .video {
    margin-bottom: 3em;
    width: 540px;
    height: 300px; }
  .white-block .video-container {
    height: 0;
    overflow: hidden;
    margin-bottom: 3em;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative; }
  .white-block .video-container iframe, .white-block .video-container object, .white-block .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .white-block h2 {
    margin-bottom: 1.5em;
    color: #37474E; }
  .white-block p {
    color: #37474E; }
    @media screen and (max-width: 767px) {
      .white-block p {
        text-align: center; } }
  .white-block h3 {
    color: #37474E;
    margin-top: 2.3em;
    font-weight: 300; }
    @media screen and (max-width: 767px) {
      .white-block h3 {
        margin-top: 0;
        text-align: center; } }
  @media screen and (max-width: 767px) {
    .white-block img {
      display: table;
      margin: 0 auto;
      width: 75%; } }
  @media screen and (max-device-width: 736px) and (min-device-width: 414px) and (orientation: landscape) {
    .white-block img {
      width: 40%; } }

.almost-white-color-background {
  background: #bfbfbf; }

.secondary-color-background {
  background: #637076; }

.secondary-color-background-bis {
  background: #576368; }

.secondary-color-block {
  margin: 6em 0; }
  @media screen and (max-width: 767px) {
    .secondary-color-block {
      margin: 3em 0; } }
  .secondary-color-block h2, .secondary-color-block h3, .secondary-color-block p {
    color: #f2f2f2; }
  .secondary-color-block h3 {
    margin-bottom: 1em; }
    @media screen and (max-width: 767px) {
      .secondary-color-block h3 {
        margin-top: 0;
        text-align: center; } }
  .secondary-color-block p {
    font-weight: 300;
    letter-spacing: 1px; }
    @media screen and (max-width: 767px) {
      .secondary-color-block p {
        text-align: center; } }
  .secondary-color-block .second-title {
    margin: 1.5em; }
    @media screen and (max-width: 767px) {
      .secondary-color-block .second-title {
        margin: 0 1.5em 1.5em 1.5em; } }
  .secondary-color-block .btn-lb {
    color: #f2f2f2;
    background-color: #FF6243;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    display: table;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    margin: 0 auto;
    padding: 10px 26px;
    white-space: normal; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      .secondary-color-block .btn-lb {
        border-radius: 44px;
        -webkit-border-radius: 44px;
        -moz-border-radius: 44px; } }
  .secondary-color-block .btn-lb:hover {
    background-color: #ff8d76; }
  .secondary-color-block .btn-lb:active {
    background-color: #ff3710; }
  .secondary-color-block img {
    width: 100%; }
    @media screen and (max-device-width: 736px) and (min-device-width: 414px) and (orientation: landscape) {
      .secondary-color-block img {
        display: table;
        margin: 0 auto;
        width: 53%; } }
  .secondary-color-block .feature-1 {
    mask-image: url(../img/feature-1.svg);
    -webkit-mask-image: url(../img/feature-1.svg);
    -moz-mask-image: url(../img/feature-1.svg); }
  .secondary-color-block .feature-2 {
    mask-image: url(../img/feature-2.svg);
    -webkit-mask-box-image: url(../img/feature-2.svg);
    -moz-mask-box-image: url(../img/feature-2.svg); }
  .secondary-color-block .feature-3 {
    mask-image: url(../img/feature-3.svg);
    -webkit-mask-image: url(../img/feature-3.svg);
    -moz-mask-image: url(../img/feature-3.svg); }
  .secondary-color-block #contact-form {
    margin-top: 3em; }

.privacy-content {
  margin: 3rem 0 6rem 0;
  text-align: justify; }
  .privacy-content ol {
    color: #FF6243;
    font-weight: bold;
    list-style-position: outside; }
    .privacy-content ol li p {
      color: #37474E;
      font-weight: normal; }

.faq-content {
  margin: 3rem 0 6rem 0;
  text-align: justify; }
  .faq-content .extra {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 2em; }
  .faq-content ol {
    color: #FF6243;
    font-weight: 100;
    font-size: 1.5em;
    list-style-position: outside; }
    .faq-content ol li p {
      color: #37474E;
      font-weight: normal;
      font-size: 16px; }
    .faq-content ol li h3 {
      color: #37474E;
      margin-top: 2em;
      font-weight: 300;
      text-align: left; }

.terceary-color-background {
  background: #37474E; }

.footer-block {
  margin: 6em 0; }
  @media screen and (max-width: 767px) {
    .footer-block {
      margin: 3em 0; } }
  .footer-block p, .footer-block h4 {
    color: #f2f2f2;
    font-weight: 300; }
  .footer-block p a {
    color: #f2f2f2; }
  .footer-block .footer-logo img {
    width: 12.250em; }
    @media (max-width: 767px) {
      .footer-block .footer-logo img {
        display: block;
        margin: 0 auto 2em auto; } }
  .footer-block .footer-icons {
    display: inline;
    padding: 0; }
    @media (max-width: 767px) {
      .footer-block .footer-icons {
        margin-left: 0;
        margin-top: 1em; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .footer-block .footer-icons {
        margin-left: 0;
        margin-top: 1em; } }
    .footer-block .footer-icons li {
      display: inline;
      list-style: none;
      padding: 0 1em 1em 0; }
      @media (max-width: 767px) {
        .footer-block .footer-icons li {
          padding: 0 0.5em 0.5em 0; } }
    @media (max-width: 767px) {
      .footer-block .footer-icons li:last-child {
        padding: 0; } }
    .footer-block .footer-icons svg, .footer-block .footer-icons img {
      width: 3em;
      fill: #f2f2f2; }
    .footer-block .footer-icons a svg #twitter, .footer-block .footer-icons a svg #facebook, .footer-block .footer-icons a svg #instagram, .footer-block .footer-icons a svg #linkedin {
      transition: 200ms;
      transition-timing-function: ease-in-out;
      -webkit-transition: 200ms;
      -webkit-transition-timing-function: ease-in-out; }
    .footer-block .footer-icons a svg:hover #twitter, .footer-block .footer-icons a svg:hover #facebook, .footer-block .footer-icons a svg:hover #instagram, .footer-block .footer-icons a svg:hover #linkedin {
      fill: #FF6243; }
  .footer-block .footer-copyright {
    margin-top: 3em; }
  .footer-block .innku-link {
    font-size: 0.75em;
    color: #a6a6a6;
    margin-top: 10px; }
    .footer-block .innku-link a {
      color: #76bd1d; }
    .footer-block .innku-link a:hover {
      color: #68a71a; }

/* Thanks page*/
.thanks-main-image {
  padding-top: 2em; }
  @media screen and (max-width: 767px) {
    .thanks-main-image {
      margin: 1em 0; } }

.thanks-main-message {
  padding-top: 1em; }
  @media screen and (max-width: 767px) {
    .thanks-main-message {
      margin: 0.5em 0; } }

.thanks-share-buttons {
  padding-top: 1em;
  margin-bottom: 2em; }

.share-buttons {
  display: inline;
  padding: 0; }
  @media (max-width: 767px) {
    .share-buttons {
      margin-left: 0;
      margin-top: 1em; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .share-buttons {
      margin-left: 0;
      margin-top: 1em; } }
  .share-buttons li {
    display: inline;
    list-style: none;
    padding: 0 1em 0 0; }
    @media (max-width: 767px) {
      .share-buttons li {
        padding: 0 0.5em 0.5em 0; } }
  @media (max-width: 767px) {
    .share-buttons li:last-child {
      padding: 0; } }
  .share-buttons #share-twitter {
    width: 48%; }
    .share-buttons #share-twitter .st1 {
      fill: #FFFFFF; }
    .share-buttons #share-twitter .st2 {
      font-family: 'RobotoCondensed-Light'; }
    .share-buttons #share-twitter .st3 {
      font-size: 22px; }
  .share-buttons #share-facebook {
    width: 48%; }
    .share-buttons #share-facebook .st1 {
      fill: #FFFFFF; }
    .share-buttons #share-facebook .st2 {
      font-family: 'RobotoCondensed-Light'; }
    .share-buttons #share-facebook .st3 {
      font-size: 22px; }
  .share-buttons #share-twitter-background {
    fill: #22B1FF; }
  .share-buttons #share-facebook-background {
    fill: #3F5AA2; }
  .share-buttons a svg #share-twitter-background, .share-buttons a svg #share-facebook {
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out; }
  .share-buttons a svg:hover #share-twitter-background {
    fill: #005888; }
  .share-buttons a svg:hover #share-facebook-background {
    fill: #141d34; }

/*# sourceMappingURL=styles.css.map */
