/* sass --watch sass:css */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
body {
  height: 100%;
  width: 100%; }

h1, h2, h3, h4 {
  font-family: "Roboto Slab", serif; }

p {
  font-family: "Open Sans", sans-serif; }

.navbar-lb {
  background: #FF6243;
  height: 8em; }
  .navbar-lb .logo {
    width: 12.250em; }
  .navbar-lb .navbar-aling {
    float: right; }
  .navbar-lb li {
    margin-top: 2.25em; }
  .navbar-lb a {
    color: #f2f2f2;
    font-family: "Roboto Slab", serif; }
  .navbar-lb a:hover {
    background-color: transparent !important;
    border-bottom: 3px solid #f2f2f2; }

.main-color-background {
  background: #FF6243; }
  .main-color-background p {
    color: #f2f2f2;
    font-size: 1.5em;
    font-weight: 300;
    margin: 1.5em 0 2em 0; }

.main-color-block {
  margin: 6em 0; }
  .main-color-block h1, .main-color-block h2 {
    color: #f2f2f2; }
  .main-color-block .btn-lb {
    color: #f2f2f2;
    background-color: #a91c00;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    display: block;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    padding: 10px 26px; }
  .main-color-block .btn-lb:hover {
    background-color: #ff8d76; }
  .main-color-block .main-image {
    width: 100%; }

.white-block {
  margin: 6em 0; }
  .white-block .video {
    margin-bottom: 3em; }
  .white-block h2 {
    margin-bottom: 1em;
    color: #37474E; }
  .white-block p {
    color: #37474E; }

.secondary-color-background {
  background: #637076; }

.secondary-color-background-bis {
  background: #576368; }

.secondary-color-block {
  margin: 6em 0; }
  .secondary-color-block h2, .secondary-color-block h3, .secondary-color-block p {
    color: #f2f2f2; }
  .secondary-color-block h3 {
    margin-bottom: 1em; }
  .secondary-color-block p {
    font-weight: 300;
    letter-spacing: 1px; }
  .secondary-color-block .second-title {
    margin: 1.5em; }
  .secondary-color-block .btn-lb {
    color: #f2f2f2;
    background-color: #ff4d2a;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    display: block;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    margin: 0 auto;
    padding: 10px 26px; }
  .secondary-color-block .btn-lb:hover {
    background-color: #ff8d76; }

.terceary-color-background {
  background: #37474E; }

.footer-block {
  margin: 6em 0; }
  .footer-block p, .footer-block h4 {
    color: #f2f2f2;
    font-weight: 300; }
  .footer-block p a {
    color: #f2f2f2; }
  .footer-block .footer-logo img {
    width: 12.250em; }
  .footer-block .footer-icons {
    display: inline;
    float: left;
    svg: hover;
      svg-fill: black; }
    @media (max-width: 767px) {
      .footer-block .footer-icons {
        margin-left: 0;
        margin-top: 1em; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .footer-block .footer-icons {
        margin-left: 0;
        margin-top: 1em; } }
    .footer-block .footer-icons li {
      float: left;
      list-style: none;
      padding: 0 1em 1em 0; }
    .footer-block .footer-icons img {
      width: 3em; }
  .footer-block .footer-copyright {
    margin-top: 3em; }
  .footer-block .innku-link {
    font-size: 0.75em;
    color: #a6a6a6;
    margin-top: 10px; }
    .footer-block .innku-link a {
      color: #76bd1d; }
    .footer-block .innku-link a:hover {
      color: #68a71a; }

/*# sourceMappingURL=styles.css.map */
