/* sass --watch sass:css */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);

$main-color: #FF6243;
$secondary-color: #637076;
$terceary-color: #37474E;
$text-color: #37474E;
$almost-white: #f2f2f2;
$almost-black: #050505; //Este color se usa para el bloque del footer
$main-font: 'Open Sans', sans-serif;
$title-font: 'Roboto Slab', serif;

body {
  height:100%;
  width:100%;
}

h1, h2, h3, h4 {
  font-family: $title-font;
}

p {
  font-family: $main-font;
}

// Nav and main block

.navbar-lb {
  background: $main-color;
  height: 8em;
  border-color: $main-color;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  margin-bottom: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;

  .navbar-toggle {
    border-color: darken($almost-white, 20%);
    background: white;

    .icon-bar {
      background-color: $secondary-color;
    }
  }

  .navbar-collapse {
    border-color: $main-color!important;
    border-top: 1px solid $main-color!important;
    background: $main-color!important;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;

  }

  .logo {
    width: 12.250em;
    position: relative;
    z-index: 99;
  }

  li {
    margin-top: 2.25em;
  }

  li a {
    color: $almost-white!important;
    font-family: $title-font;
    @media (max-width:767px) {
      text-align: center;
    }
  }

  li a:hover {
    background-color: rgba(0, 0, 0, 0)!important;
    border-bottom: 3px solid $almost-white;
  }

  a img:hover {
    border-bottom: none;
  }
}

.main-color-background {
  background: $main-color;

  p {
    color: $almost-white;
    font-size: 1.5em;
    font-weight: 300;
    margin: 1.5em 0 2em 0;
  }
}

.main-color-block {
  margin: 6em 0;

  h1, h2 {
    color: $almost-white;
  }

  .btn-lb {
    color: $almost-white;
    background-color: darken($main-color, 30%);
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    display: block;
    font-family: $title-font;
    font-weight: 300;
    padding: 10px 26px;
    white-space: normal;
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      border-radius: 44px;
      -webkit-border-radius: 44px;
      -moz-border-radius: 44px;
    }
  }

  .btn-lb:hover {
    background-color: lighten($main-color, 10%);
  }

  .main-image {
    width: 100%;
  }
}

//Video and product text
.white-block {
  margin: 6em 0;

  .video {
    margin-bottom: 3em;
    width: 540px;
    height: 300px;
  }

  .video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

  h2 {
    margin-bottom: 1em;
    color: $text-color;
  }

  p {
    color: $text-color;
  }
}

// Features
.secondary-color-background {
  background: $secondary-color;
}

.secondary-color-background-bis {
  background: darken($secondary-color, 5%);
}

.secondary-color-block {
  margin: 6em 0;

  h2, h3, p {
    color: $almost-white;
  }

  h3 {
    margin-bottom: 1em;
  }

  p {
    font-weight: 300;
    letter-spacing: 1px;
  }

  .second-title {
    margin: 1.5em;
  }

  .btn-lb {
    color: $almost-white;
    background-color: $main-color;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    display: block;
    font-family: $title-font;
    font-weight: 300;
    margin: 0 auto;
    padding: 10px 26px;
    white-space: normal;
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      border-radius: 44px;
      -webkit-border-radius: 44px;
      -moz-border-radius: 44px;
    }
  }
  .btn-lb:hover {
    background-color: lighten($main-color, 10%);
  }

  img {
    width: 100%;
  }

  .feature-1 {
    mask-image: url(../img/feature-1.svg);
    -webkit-mask-image: url(../img/feature-1.svg);
    -moz-mask-image: url(../img/feature-1.svg);
  }

  .feature-2 {
    mask-image: url(../img/feature-2.svg);
    -webkit-mask-box-image: url(../img/feature-2.svg);
    -moz-mask-box-image: url(../img/feature-2.svg);
  }

  .feature-3 {
    mask-image: url(../img/feature-3.svg);
    -webkit-mask-image: url(../img/feature-3.svg);
    -moz-mask-image: url(../img/feature-3.svg);
  }
}

//Footer
.terceary-color-background {
  background: $terceary-color;
}

.footer-block {
  margin: 6em 0;

  p, h4 {
    color: $almost-white;
    font-weight: 300;
  }

  p a {
    color: $almost-white;
  }

  .footer-logo img {
    width: 12.250em;
    @media (max-width:767px) {
      display: block;
      margin: 0 auto 2em auto;
    }
  }

  .footer-icons {
    display: inline;
    float: left;
    @media (max-width:767px) {
      margin-left: 0;
      margin-top: 1em;
    }
    //iphone 4 and 4S - portrait
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      padding-left: 116px;
    }
    //iPhone 5 and 5S - landscape
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      padding: 0 100px 0 160px;
    }
    //iPhone 6 - landscape
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      padding: 0 100px 0 210px;
    }
    //iPhne 6+ - landscape
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
      padding: 0 140px 0 242px;
    }

    @media (min-width:768px) and (max-width: 991px) {
      margin-left: 0;
      margin-top: 1em;
    }

    li {
      float: left;
      list-style: none;
      padding: 0 1em 1em 0;
      @media (max-width:767px) {
        padding: 0 0.5em 0.5em 0;
      }
    }

    li:last-child {
      @media (max-width:767px) {
        padding: 0;
      }
    }

    svg, img {
      width: 3em;
      fill: $almost-white;
    }

    a svg #twitter, a svg #facebook, a svg #instagram, a svg #linkedin {
      transition: 200ms;
      transition-timing-function: ease-in-out;
      -webkit-transition: 200ms;
      -webkit-transition-timing-function: ease-in-out;
    }

    a svg:hover #twitter, a svg:hover #facebook, a svg:hover #instagram, a svg:hover #linkedin {
      fill: $main-color;
    }
  }

  .footer-copyright {
    margin-top: 3em;
  }

  .innku-link {
    font-size: 0.75em;
    color: darken($almost-white, 30%);
    margin-top: 10px;

    a {
      color: #76bd1d;
    }
    a:hover {
      color: darken(#76bd1d, 5%);
    }
  }
}
